<?xml version="1.0" encoding="utf-8" ?>
<ElasticMapping>
  <Application Name="UnitTest1" ElasticIndexName="ElasticV3UnitTest">

    <ConnectionPool Size="32">
      <Socket ConnectTimeout="3000" SendTimeout="10000" ReceiveTimeout="10000" />
    </ConnectionPool>

    <Nodes>
      <Node Enabled="true" Host="10.129.8.58" Port="9500" />
    </Nodes>

    <Tenants>
      <Tenant Id="100001" ElasticIndexName="100001.ElasticV3UnitTest" />
    </Tenants>

  </Application>

  <Application Name="UnitTest2"  ElasticIndexName="ElasticV3UnitTest">
    <ConnectionPool Size="32">
      <Socket ConnectTimeout="3000" SendTimeout="10000" ReceiveTimeout="10000" />
    </ConnectionPool>
    <Nodes>
      <Node Enabled="true" Host="10.129.8.58" Port="9500" />
    </Nodes>
  </Application>
</ElasticMapping>
