<?xml version="1.0" encoding="utf-8" ?>
<AppSettings>
<groups>
  <group name="System">
    <nodes>
      <node key="AppConnStrName" value="dbconn.AppConn"></node>
      <node key="InfrastructureConnStrName" value="dbconn.InfrastructureConn"></node>
      <node key="dbconn.InfrastructureConn" value="Server=HKSQLUWV644,1800;Database=PwCC4Base;uid=lucy bk yang;pwd=pass1234"></node>
      <node key="MetadataConnStrName" value="dbconn.MetadataConn"></node>
      <node key="MailConnStrName" value="dbconn.MailMaster"></node>
      <node key="Host" value="http://localhost/C4WebSite"></node>
      <!--Storage :1.Mssql,2.MongoDB-->
      <node key="Storage" value="Mssql"></node>
      <!--Storage :1.Pc,2.Mobile,3.Both-->
      <node key="AuthenticateMode" value="Mobile"></node> 
      <node key="VirtualDirectory" value="/C4WebSite"></node>
      <node key="AppCode" value="C4WebSite"></node>
      <node key="EnableEmailService" value="false"></node>
      <node key="ApplicationDisplayName" value="C4 Big Bang!"></node>
      <node key="EncryptKey" value="PwCAPPPC"></node>
      <node key="EncryptIV" value="PwCAPPPCIV"></node>
      <node key="NoAuthorizePage" value="/Common/NoAuthorize"></node>
      <node key="SystemErrorPage" value="/Common/SystemError"></node>
      <node key="UploadPath" value="\\CNPEKSQLDWV026\mssqlserver\FoundationSystem\Attachments"></node>
      <node key="DownloadPath" value="/FoundationRegistration/Common/DownloadFile?fileId="></node>
      <node key="ExportPath" value="Upload\\Export\\"></node>
      <node key="PackagePath" value="Upload\\Package\\"></node>
      <node key="AuthenticateErrorRequestUrl" value="http://localhost/C4WebSite"></node>
    </nodes>
  </group>
  <group name="WhiteList">
    <nodes>
      <node value="/PublicIndex" />
    </nodes>
  </group>
  <group name="Logger">
    <nodes>
      <node key="IsEnable" value="true"></node>
      <node key="IsEnableDebug" value="false"></node>
      <!--SaveMethod :1.File,2.Sql,3.Both-->
      <node key="SaveMethod" value="Sql"></node>
      <node key="SaveToSqlBuffSize" value="1"></node>
      <node key="LoggerFilePath" value=""></node>
      <node key="IsSendEmail" value="true">
        <nodes>
          <node key="Receiver">Chenhui Yu/GTS/IFS/CN;</node>
          <node key="LoggerEmailSubject">{AppCode} System Error !</node>
          <node key="LoggerEmailBody">
            <![CDATA[{Appcode} Error Message:{Message}<br/> {Excption}]]>]></node>
          <node key="BufferSize" value="50"></node>
        </nodes>
      </node>
    </nodes>
  </group>
</groups>
</AppSettings>