<?xml version="1.0"?>
<PluginConfigs xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <PluginSettings>
    <PluginSetting>
      <Code>PwC.C4.Scheduler.Plugin.ExcelReader</Code>
      <Enable>true</Enable>
      <AssemblyInfo>PwC.C4.Scheduler.Plugin.ExcelReader,PwC.C4.Scheduler.Plugin.ExcelReader.SchedulerJob</AssemblyInfo>
      <CornExpression>0 0/1 * * * ?</CornExpression>
      <Parameters>
        <Parameter>
          <Name>InputPath</Name>
          <Value>C:\WindowsService\unread</Value>
        </Parameter>
        <Parameter>
          <Name>OutputPath</Name>
          <Value>C:\WindowsService\fail</Value>
        </Parameter>
        <Parameter>
          <Name>BackupPath</Name>
          <Value>C:\WindowsService\backup</Value>
        </Parameter>
      </Parameters>
    </PluginSetting>
  </PluginSettings>
</PluginConfigs>