<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
    <add key="AppCode" value="PwCC4Base" />
    <add key="environment" value="Dev" />
    <!--<add key="ApplicationDisplayName" value="Uat" />
     <add key="Host" value="Uat" />
       <add key="CachePersistenceMode" value="OFF" />
       <add key="UploadPath" value="UploadPath" />
        <add key="EnableEmailService" value="true" />
         <add key="NoAuthorizePage" value="NoAuthorizePage" />
   <add key="SystemErrorPage" value="SystemErrorPage" />
      <add key="AuthenticateErrorRequestUrl" value="AuthenticateErrorRequestUrl" />
         <add key="ExportPath" value="ExportPath" />
            <add key="PackagePath" value="PackagePath" />
            <add key="DownloadPath" value="DownloadPath" />

           <add key="Storage" value="Storage" />
            <add key="AuthenticateMode" value="AuthenticateMode" />-->

  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="2.0.5" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IInfrastructure" />
        <binding name="BasicHttpBinding_IArrayTesting" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://hkapppwv173/PwC.C4.DataServiceV2/InfrastructureService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IInfrastructure" contract="IInfrastructure" name="BasicHttpBinding_IInfrastructure" />
      <endpoint address="http://localhost/PwC.C4.Labs.Web/WcfService/ArrayTesting.svc"
                  binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IArrayTesting"
                  contract="IArrayTesting" name="BasicHttpBinding_IArrayTesting" />
    </client>
  </system.serviceModel>
</configuration>