<?xml version="1.0" encoding="utf-8" ?>
<WcfSettings>
    <WcfSetting name="C4DfsService">
    <binding type="BasicHttpBinding" securityMode="None" transferMode="Streamed" maxReceivedMessageSize="2048000000" timeOut="00:05:00" maxConnections="200"/>
    <endpoionts>
      <endpoint address="http://localhost/PwC.C4.DataService/C4DataService.svc" />
    </endpoionts>
  </WcfSetting>
</WcfSettings>
