@{
    ViewBag.Menu = "Home";
}
<div class="section_home_wrap">
    <div class="section_home">
        <div class="section_left">
            <h2>PwC China and Hong Kong Compliance Portal</h2>
            <img src="~/Content/Images/bg.png" />
            <div class="paragraph">
                <h4>Ethics and Business Conduct</h4>
                <p>PwC is one of the world's pre-eminent professional services organizations.</p>
                <p>While we conduct our business within the framework of applicable professional standards, laws, regulations and internal policies, we also acknowledge that these standards, laws, regulations and policies do not govern all types of behaviour.</p>
                <p>As a result, we also have a code of conduct for all PwC people and firms.  This code is based on our values and it takes them to the next level - demonstrating our values in action.  The code also provides a frame of reference for PwC firms to establish more specific supplements to address territorial issues.</p>
                <p>This website provides you information on our PwC Code of Conduct and the local policies and procedures of the PwC China and Hong Kong Supplement. </p>
            </div>
        </div>
        <div class="section_right">
            <div class="quick_link">
                <p>Quick Links</p>
                <a href="@Url.Action("")" target="_self">Admin</a>
                <a href="#" target="_self">Global Code of Conduct</a>
                <a href="#" target="_self">Ethics Hotline and Mailbox</a>
                <a href="#" target="_self">About PricewaterhouseCoopers</a>
                <a href="#" target="_self">Anti-Money Laundering</a>
                <a href="#" target="_self">Anti-bribery/ Anti-corruption</a>
                <a href="#" target="_self">Sanction Laws</a>
                <a href="#" target="_self">Anti-trust/Anti-competition</a>
                <a href="#" target="_self">Insider trading</a>
                <a href="#" target="_self">Information protection</a>
                <a href="#" target="_self">Describing the network</a>
                <a href="#" target="_self">Troublesome Practice Matters</a>
                <a href="#" target="_self">Ethics and Business Conduct</a>
                <a href="#" target="_self">Internal Audit</a>
                <a href="#" target="_self">Independence</a>
            </div>
        </div>
    </div>
</div>
