<div class="section">
    <div id="wrap">
        <ul>
            <li class="li2 search_page">
                <div class="result">
                    
                    <p>20 results (0.001seconds)</p>
                    <div class="edit_button">
                        <a href="#" target="_self" title="Add" class="hide_button"><img src="~/Content/Images/icons-delete.png" alt="" title=""></a>
                        <a href="#" target="_self" title="Delete" class="hide_button"><img src="~/Content/Images/icons-add.png" alt="" title=""></a>
                        <a href="#" title="edit" class="edit"><img src="~/Content/Images/icons-edit.png" alt="" title=""></a>
                    </div>
                </div>
                <div class="hide_pc"><h2 class="level">Compliance</h2><span class="level">&gt;</span><h2>Global Risk Management &amp; Compliance Programme</h2></div>
                <ul class="search_text">
                    <li>
                        
                        <div class="edit_content">
                            <a href="#" target="_self">ETHICS AND COMPLIANCE STANDARDS - INSIDER TRADING  </a>
                            <p>Each Member Firm shall establish systems, policies and procedures for the prevention of insider trading, in compliance with all applicable laws and regulations and NRMP. Each Member Firm shall: A. Appoint an experienced individual who, with a</p>
                        </div>
                    </li>
                    <li>
                        
                        <div class="edit_content">
                            <a href="#" target="_self">GLOBAL RISK MANAGEMENT - COMMUNICATIONS ON 23 APRIL 2010 (MESSAGE FROM ROGER KNIGHT &amp; MARCELLUS WONG) </a>
                            <p>Roger Knight/HK/ABAS/PwC Sent by: Adela SM Soo/HK/ABAS/PwC 23/04/2010 13:45 To HK All, CN All cc Kim Chiu Chua/SG/ABAS/PwC@Asia, Cheryl MY Lim/SG/ABAS/PwC@Asia Subject Global Risk Management and Compliance Programme - 2010 Update</p>
                        </div>
                    </li>
                    <li>
                        
                        <div class="edit_content">
                            <a href="#" target="_self">GLOBAL RISK MANAGEMENT - COMMUNICATIONS ON 18 APRIL 2008 (MESSAGE FROM ROGER KNIGHT) </a>
                            <p>Roger Knight Sent by: Adela SM Soo 18/04/2008 10:35 To:	HK All, CN All cc:	Subject:	Global Risk Management and Compliance Programme - UPDATE 1 I refer to Silas's note of 26 November 2007 (attached) and am writing to advise of</p>
                        </div>
                    </li>
                    <li>
                        
                        <div class="edit_content">
                            <a href="#" target="_self">GLOBAL RISK MANAGEMENT - COMMUNICATIONS ON 26 MAY 2014 </a>
                            <p>From:HK-CN Compliance Office To:	CN All, HK All, CN SDC Chengdu All Cc:	Deborah Ong/SG/ABAS/PwC@Asia, Eileen Liang/TW/ABAS/PwC@Asia Date:	26/05/2014 17:01 Subject:	HK/CN Compliance Programme - 2013/2014 KEY MESSAGES UPDATE Sent by:	Shanti Govin</p>
                        </div>
                    </li>
                    <li>
                        
                        <div class="edit_content">
                            <a href="#" target="_self">ETHICS AND COMPLIANCE STANDARDS - SANCTIONS LAWS </a>
                            <p>Each Member Firm shall implement policies and procedures to prevent being involved with clients or activities that may violate applicable sanctions laws and regulations. Each Member Firm shall: A. Appoint an experienced individual who, with</p>
                        </div>
                    </li>
                    <li>
                        
                        <div class="edit_content">
                            <a href="#" target="_self">ETHICS AND COMPLIANCE STANDARDS - INTERNAL AUDIT </a>
                            <p>10.9. Internal Audit Each Member Firm shall have an appropriate level of internal audit coverage over key audit risks including but not limited to operational, information technology and compliance risks. Each Member Firm shall: A. Appoin</p>
                        </div>
                    </li>
                    <li>
                        
                        <div class="edit_content">
                            <a href="#" target="_self">ETHICS AND COMPLIANCE STANDARDS - ANTI-CORRUPTION </a>
                            <p>10.5. Anti-corruption Each Member Firm shall establish systems, policies and procedures for the prevention of bribery and corruption, in compliance with all applicable laws and regulations. Each Member Firm shall: A. Appoint an experience</p>
                        </div>
                    </li>
                    <li>
                        
                        <div class="edit_content">
                            <a href="#" target="_self">ETHICS AND COMPLIANCE STANDARDS - INSIDER TRADING  </a>
                            <p>Each Member Firm shall establish systems, policies and procedures for the prevention of insider trading, in compliance with all applicable laws and regulations and NRMP. Each Member Firm shall: A. Appoint an experienced individual who, with a</p>
                        </div>
                    </li>
                    <li>
                        
                        <div class="edit_content">
                            <a href="#" target="_self">GLOBAL RISK MANAGEMENT - COMMUNICATIONS ON 23 APRIL 2010 (MESSAGE FROM ROGER KNIGHT &amp; MARCELLUS WONG) </a>
                            <p>Roger Knight/HK/ABAS/PwC Sent by: Adela SM Soo/HK/ABAS/PwC 23/04/2010 13:45 To HK All, CN All cc Kim Chiu Chua/SG/ABAS/PwC@Asia, Cheryl MY Lim/SG/ABAS/PwC@Asia Subject Global Risk Management and Compliance Programme - 2010 Update</p>
                        </div>
                    </li>
                    <li>
                        
                        <div class="edit_content">
                            <a href="#" target="_self">GLOBAL RISK MANAGEMENT - COMMUNICATIONS ON 18 APRIL 2008 (MESSAGE FROM ROGER KNIGHT) </a>
                            <p>Roger Knight Sent by: Adela SM Soo 18/04/2008 10:35 To:	HK All, CN All cc:	Subject:	Global Risk Management and Compliance Programme - UPDATE 1 I refer to Silas's note of 26 November 2007 (attached) and am writing to advise of</p>
                        </div>
                    </li>
                </ul>
                <div class="flip">
                    <ul>
                        <li><a href="#" target="_self">Previous</a></li>
                        <li class="on"><a href="#" target="_self">1</a></li>
                        <li><a href="#" target="_self">2</a></li>
                        <li><a href="#" target="_self">3</a></li>
                        <li><a href="#" target="_self">4</a></li>
                        <li><a href="#" target="_self">5</a></li>
                        <li><a href="#" target="_self">6</a></li>
                        <li><a href="#" target="_self">7</a></li>
                        <li><a href="#" target="_self">8</a></li>
                        <li><a href="#" target="_self">9</a></li>
                        <li><a href="#" target="_self">10</a></li>
                        <li><a href="#" target="_self">Next</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</div>