<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="httpPublishFolder" value="http://localhost/PwC.Configuration/Download"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="publishFolder" value="D:\Source Code\PwC.C4\Configuration\PwC.C4.Configuration.Messager\Download"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="publishBackupFolder" value="D:\Source Code\PwC.C4\Configuration\PwC.C4.Configuration.Messager\ConfigBak"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="resourceFolder" value="D:\Source Code\PwC.C4\Configuration\PwC.C4.Configuration.Messager\Resource"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="bakFolder" value="D:\Source Code\PwC.C4\Configuration\PwC.C4.Configuration.Messager\bak"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="environment" value="Labs"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <system.webServer>
    <staticContent>
      <mimeMap fileExtension=".*" mimeType="application/octet-stream" />
    </staticContent>
    <modules runAllManagedModulesForAllRequests="true" xdt:Transform="Replace">
      <remove name="OlympusAuthentication" />
      <remove name="C4HttpModule" />
    </modules>
  </system.webServer>
</configuration>