<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IArrayTesting" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/PwC.C4.Labs.Web/WcfService/ArrayTesting.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IArrayTesting"
                contract="IArrayTesting" name="BasicHttpBinding_IArrayTesting" />
        </client>
    </system.serviceModel>
</configuration>