# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon
# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
.vs
.vs/*
artifacts
artifacts/*
TestResults
TestResults/*


#bin and obj

packages
packages/*

Core/PwC.C4.Common/bin/*
Core/PwC.C4.Common/obj/*

Core/PwC.C4.ConnectionPool/bin/*
Core/PwC.C4.ConnectionPool/obj/*

Core/PwC.C4.Common.Runtime/bin/*
Core/PwC.C4.Common.Runtime/obj/*

Core/PwC.C4.DataService/bin/*
Core/PwC.C4.DataService/obj/*

Core/PwC.C4.Infrastructure/bin/*
Core/PwC.C4.Infrastructure/obj/*

Core/PwC.C4.Infrastructure.Cache/bin/*
Core/PwC.C4.Infrastructure.Cache/obj/*

Core/PwC.C4.Infrastructure.Logger/bin/*
Core/PwC.C4.Infrastructure.Logger/obj/*

Core/PwC.C4.Membership/bin/*
Core/PwC.C4.Membership/obj/*

Metadata/PwC.C4.Metadata/bin/*
Metadata/PwC.C4.Metadata/obj/*

Metadata/PwC.C4.Metadata.Search/bin/*
Metadata/PwC.C4.Metadata.Search/obj/*

Metadata/PwC.C4.Metadata.Storage/bin/*
Metadata/PwC.C4.Metadata.Storage/obj/*

Metadata/PwC.C4.TemplateEngine/bin/*
Metadata/PwC.C4.TemplateEngine/obj/*

Maintance/PwC.C4.MetadataSettings.Web/bin/*
Maintance/PwC.C4.MetadataSettings.Web/obj/*

Maintance/PwC.C4.NugetServer/bin/*
Maintance/PwC.C4.NugetServer/obj/*

Dfs/PwC.C4.Dfs.Client/bin/*
Dfs/PwC.C4.Dfs.Client/obj/*

Dfs/PwC.C4.Dfs.Common/bin/*
Dfs/PwC.C4.Dfs.Common/obj/*

Dfs/PwC.C4.Dfs.ReceiveService/bin/*
Dfs/PwC.C4.Dfs.ReceiveService/obj/*

Dfs/PwC.C4.Dfs.Web/bin/*
Dfs/PwC.C4.Dfs.Web/obj/*

Dfs/PwC.C4.Dfs.Converter/bin/*
Dfs/PwC.C4.Dfs.Converter/obj/*

Dfs/PwC.C4.Dfs.ConvertService/bin/*
Dfs/PwC.C4.Dfs.ConvertService/obj/*

Configuration/PwC.C4.Configuration/bin/*
Configuration/PwC.C4.Configuration/obj/*

Configuration/PwC.C4.Configuration.Messager/bin/*
Configuration/PwC.C4.Configuration.Messager/obj/*
Configuration/PwC.C4.Configuration.Messager/Download/*


Testing/PwC.C4.Testing.Dfs.ServiceInstance/bin/*
Testing/PwC.C4.Testing.Dfs.ServiceInstance/obj/*

Testing/PwC.C4.Testing.Dfs.ClientInstance/bin/*
Testing/PwC.C4.Testing.Dfs.ClientInstance/obj/*

Testing/PwC.C4.Testing.Dfs.ConverterInstance/bin/*
Testing/PwC.C4.Testing.Dfs.ConverterInstance/obj/*

Testing/PwC.C4.Testing.Core/bin/*
Testing/PwC.C4.Testing.Core/obj/*

Testing/PwC.C4.Testing.Metadata/bin/*
Testing/PwC.C4.Testing.Metadata/obj/*

Testing/PwC.C4.Testing.Console/bin/*
Testing/PwC.C4.Testing.Console/obj/*

Testing/PwC.C4.Testing.Labs.Web/bin/*
Testing/PwC.C4.Testing.Labs.Web/obj/*

Testing/PwC.C4.Testing.Scheduler.ServiceConsole/bin/*
Testing/PwC.C4.Testing.Scheduler.ServiceConsole/obj/*

Tools/PwC.C4.Tools.ServiceDiagnostic/bin/*
Tools/PwC.C4.Tools.ServiceDiagnostic/obj/*

Testing/PwC.C4.Testing.WcfService/bin/*
Testing/PwC.C4.Testing.WcfService/obj/*

Scheduler/PwC.C4.Scheduler.Plugin/bin/*
Scheduler/PwC.C4.Scheduler.Plugin/obj/*

Scheduler/PwC.C4.Scheduler.Plugin.ExcelReader/bin/*
Scheduler/PwC.C4.Scheduler.Plugin.ExcelReader/obj/*

Scheduler/PwC.C4.Scheduler.Plugin.ExcelReader.UserInfoImport/bin/*
Scheduler/PwC.C4.Scheduler.Plugin.ExcelReader.UserInfoImport/obj/*

Scheduler/PwC.C4.Scheduler.Service/bin/*
Scheduler/PwC.C4.Scheduler.Service/obj/*

Web/PwC.C4.Web.ApiHelper/bin/*
Web/PwC.C4.Web.ApiHelper/obj/*

Web/PwC.C4.Sketch/bin/*
Web/PwC.C4.Sketch/obj/*

Web/PwC.C4.Rush/bin/*
Web/PwC.C4.Rush/obj/*

Web/PwC.C4.Rush.WcfService/bin/*
Web/PwC.C4.Rush.WcfService/obj/*

Web/PwC.C4.Ants/bin/*
Web/PwC.C4.Ants/obj/*
