<?xml version="1.0" encoding="utf-8" ?>
<ElasticMapping>
  <ElasticSearchVersion>1.7.3</ElasticSearchVersion>
  <Trace SlowQueryThreshold="10000" />
  <Application Name="handbook">
    <ConnectionPool Size="32">
      <Socket ConnectTimeout="3000" SendTimeout="10000" ReceiveTimeout="10000" />
    </ConnectionPool>
    <Nodes>
      <Node Enabled="true" Host="cnpekappdwv033" Port="9200" />
    </Nodes>
    <Entities>
      <Entity Name="form_context_help_forms" IndexName="handbook"/>
    </Entities>
  </Application>
</ElasticMapping>
