<?xml version="1.0" encoding="utf-8" ?>
<DfsConvertConfig majorVersion="1" minorVersion="6">
  <ServiceSetting>
    <!--second-->
    <Interval>60</Interval>
    <Buffer>10</Buffer>
  </ServiceSetting>
  
  <EnableConvertApps>InspireC4</EnableConvertApps>
  <ConvertInfos>
    <ConvertInfo AppCode="DefaultConvertSettings" Enable="true"  EnableVideoType="avi,mp4"  EnableImageType="jpg,jpeg,png,gif">
      <ImageSettings>
        <ImageSetting Size="Small" Width="500" Height="500" Mode="max" Quality="50"></ImageSetting>
        <ImageSetting Size="Middle"  Width="800" Height="800" Mode="max" Quality="70"></ImageSetting>
        <ImageSetting Size="Large"  Width="1200" Height="1200" Mode="max" Quality="90"></ImageSetting>
      </ImageSettings>
      <VideoSettings>
        <VideoSetting Size="Small" AppendSilentAudioStream="false" VideoCodec="h264" VideoFrameRate="25" VideoFrameSize="640x360" CustomOutputArgs=" -b 768k " CreateCapture="true"></VideoSetting>
        <VideoSetting Size="Large" AppendSilentAudioStream="false" VideoCodec="h264" VideoFrameRate="30" VideoFrameSize="1280*720" CustomOutputArgs=" -b 1500k " CreateCapture="true"></VideoSetting>
      </VideoSettings>
    </ConvertInfo>
  </ConvertInfos>
</DfsConvertConfig>