
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NoAuthorize</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <h1>No Authorize!</h1>
            <p>
                <a class="btn btn-primary btn-lg" href="#" role="button">Say goodbye</a>
            </p>
        </div>
    </div>

</body>
</html>
