<?xml version="1.0" encoding="utf-8" ?>
<DfsConfig>
  <UploadSecurityToken>nt6u9b6e916e88a6s40c4i8d5f1e496a9ecco9f0lc1kpb</UploadSecurityToken>
  <MaxFileSizeBytes>524288000</MaxFileSizeBytes> <!-- 500M -->
  <PacketSize>50000</PacketSize>
  <DfsUploadServer>10.157.193.167</DfsUploadServer>
  <DfsUploadPort>1005</DfsUploadPort>
  <MaxBatchGetSize>10</MaxBatchGetSize>
  
  <ClientUrlDomain>http://Localhost/PwC.C4.Dfs.Web</ClientUrlDomain>
  <FileTypeConfigs>
    <FileType Name="Image" Keyspace="Image" />
    <FileType Name="Report" Keyspace="Report" />
    <FileType Name="Audio" Keyspace="Audio" />
    <FileType Name="Video" Keyspace="Video" />
    <FileType Name="Flash" Keyspace="Flash" />
  </FileTypeConfigs>
  <FileMimeMappings>
    <File Extension="jpg" MimeType="image/jpeg" />
    <File Extension="jpeg" MimeType="image/jpeg" />
    <File Extension="gif" MimeType="image/gif" />
    <File Extension="png" MimeType="image/png" />
    <File Extension="tiff" MimeType="image/tiff" />
    <File Extension="pdf" MimeType="application/pdf" />
    <File Extension="doc" MimeType="application/msword" />
    <File Extension="docx" MimeType="application/msword" />
    <File Extension="xls" MimeType="application/vnd.ms-excel" />
    <File Extension="xlsx" MimeType="application/vnd.ms-excel" />
    <File Extension="ppt" MimeType="application/vnd.ms-powerpoint" />
    <File Extension="pptx" MimeType="application/vnd.ms-powerpoint" />
    <File Extension="swf" MimeType="application/x-shockwave-flash" />
    <File Extension="mp3" MimeType="audio/mpeg" />
    <File Extension="wma" MimeType="audio/x-ms-wma" />
  </FileMimeMappings>
  <KeyspaceConfigs>
    <Keyspace Name="Image" ClientUrlDomain="" SecurityLevel="Public">
      <Application AppCode="PwC.C4.Labs" SecurityLevel="Private" />
    </Keyspace>
  </KeyspaceConfigs>
  <SecurityConfig>
    <PortalHost></PortalHost>
    <PortalLoginUrl></PortalLoginUrl>
  </SecurityConfig>
</DfsConfig>
