<?xml version="1.0"?>
<ExcelSettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <ExcelInstances>
    <ExcelInstance>
      <Name>TestInterface1</Name>
      <Enable>true</Enable>
      <Desc>Test Dteas b la bal a</Desc>
      <!-- Interface or Stored procedure-->
      <ExecuteType>Interface</ExecuteType>
      <!-- Metadata or Json-->
      <Method>Metadata</Method>
      <Parameters>PwC.C4.Scheduler.Plugin.ExcelReader.UserInfoImport,PwC.C4.Scheduler.Plugin.ExcelReader.UserInfoImport.MetaImportService</Parameters>
      <Sheets>
        <Sheet>
          <SheetName>TestModel</SheetName>
          <Columns>
            <ColumnSettings>
              <Name>ImportExcelStatus</Name>
              <Type>string</Type>
              <IsRequire>false</IsRequire>
              <Length>100</Length>
            </ColumnSettings>
            <ColumnSettings>
              <Name>ImportExcelResult</Name>
              <Type>string</Type>
              <IsRequire>false</IsRequire>
              <Length>100</Length>
            </ColumnSettings>
            <ColumnSettings>
              <Name>TestColumn1</Name>
              <Type>string</Type>
              <IsRequire>false</IsRequire>
              <Length>100</Length>
            </ColumnSettings>
            <ColumnSettings>
              <Name>TestColumn2</Name>
              <Type>datetime</Type>
              <IsRequire>false</IsRequire>
              <Length>8</Length>
            </ColumnSettings>
            <ColumnSettings>
              <Name>TestColumn3</Name>
              <Type>bool</Type>
              <IsRequire>false</IsRequire>
              <Length>2</Length>
            </ColumnSettings>
            <ColumnSettings>
              <Name>TestColumn4</Name>
              <Type>float</Type>
              <IsRequire>false</IsRequire>
              <Length>10</Length>
            </ColumnSettings>
          </Columns>
        </Sheet>
        <Sheet>
          <SheetName>TestModel1</SheetName>
          <Columns>
            <ColumnSettings>
              <Name>ImportExcelStatus</Name>
              <Type>string</Type>
              <IsRequire>false</IsRequire>
              <Length>100</Length>
            </ColumnSettings>
            <ColumnSettings>
              <Name>ImportExcelResult</Name>
              <Type>string</Type>
              <IsRequire>false</IsRequire>
              <Length>100</Length>
            </ColumnSettings>
            <ColumnSettings>
              <Name>TestColumn5</Name>
              <Type>string</Type>
              <IsRequire>false</IsRequire>
              <Length>100</Length>
            </ColumnSettings>
            <ColumnSettings>
              <Name>TestColumn6</Name>
              <Type>datetime</Type>
              <IsRequire>false</IsRequire>
              <Length>8</Length>
            </ColumnSettings>
            <ColumnSettings>
              <Name>TestColumn7</Name>
              <Type>bool</Type>
              <IsRequire>false</IsRequire>
              <Length>2</Length>
            </ColumnSettings>
            <ColumnSettings>
              <Name>TestColumn8</Name>
              <Type>float</Type>
              <IsRequire>false</IsRequire>
              <Length>10</Length>
            </ColumnSettings>
          </Columns>
        </Sheet>
      </Sheets>
    </ExcelInstance>
    <ExcelInstance>
      <Name>TestPrce</Name>
      <Enable>true</Enable>
      <Desc>Test Dteas b la bal a</Desc>
      <!-- Interface or Stored procedure-->
      <ExecuteType>Stored procedure</ExecuteType>
      <Method>dbo.ImportProc_Test</Method>
      <Parameters>Server=CNPEKSQLDWV026,1800;Database=ExcelData;uid=Jack H Ma;pwd=pass1234</Parameters>
      <Sheets>
        <Sheet>
          <SheetName>TestModel</SheetName>
          <Columns>
            <ColumnSettings>
              <Name>ImportExcelStatus</Name>
              <Type>string</Type>
              <IsRequire>false</IsRequire>
              <Length>100</Length>
            </ColumnSettings>
            <ColumnSettings>
              <Name>ImportExcelResult</Name>
              <Type>string</Type>
              <IsRequire>false</IsRequire>
              <Length>100</Length>
            </ColumnSettings>
            <ColumnSettings>
              <Name>TestColumn1</Name>
              <Type>string</Type>
              <IsRequire>true</IsRequire>
              <Length>11</Length>
            </ColumnSettings>
            <ColumnSettings>
              <Name>TestColumn2</Name>
              <Type>datetime</Type>
              <IsRequire>false</IsRequire>
              <Length>8</Length>
            </ColumnSettings>
            <ColumnSettings>
              <Name>TestColumn3</Name>
              <Type>bool</Type>
              <IsRequire>false</IsRequire>
              <Length>2</Length>
            </ColumnSettings>
            <ColumnSettings>
              <Name>TestColumn4</Name>
              <Type>float</Type>
              <IsRequire>false</IsRequire>
              <Length>10</Length>
            </ColumnSettings>
          </Columns>
        </Sheet>
        <Sheet>
          <SheetName>TestModel1</SheetName>
          <Columns>
            <ColumnSettings>
              <Name>ImportExcelStatus</Name>
              <Type>string</Type>
              <IsRequire>false</IsRequire>
              <Length>100</Length>
            </ColumnSettings>
            <ColumnSettings>
              <Name>ImportExcelResult</Name>
              <Type>string</Type>
              <IsRequire>false</IsRequire>
              <Length>100</Length>
            </ColumnSettings>
            <ColumnSettings>
              <Name>TestColumn5</Name>
              <Type>string</Type>
              <IsRequire>false</IsRequire>
              <Length>100</Length>
            </ColumnSettings>
            <ColumnSettings>
              <Name>TestColumn6</Name>
              <Type>datetime</Type>
              <IsRequire>false</IsRequire>
              <Length>8</Length>
            </ColumnSettings>
            <ColumnSettings>
              <Name>TestColumn7</Name>
              <Type>bool</Type>
              <IsRequire>false</IsRequire>
              <Length>2</Length>
            </ColumnSettings>
            <ColumnSettings>
              <Name>TestColumn8</Name>
              <Type>float</Type>
              <IsRequire>false</IsRequire>
              <Length>10</Length>
            </ColumnSettings>
          </Columns>
        </Sheet>
      </Sheets>
    </ExcelInstance>
  </ExcelInstances>
</ExcelSettings>