/****** Script for SelectTopNRows command from SSMS  ******/
select * into DataPicker_Staff from 
(SELECT  LTRIM(RTRIM([StaffID])) as StaffID
      ,[CountryCode]
      ,[StaffInitial]
      ,[StaffName]
      ,[FirstName]
      ,[LastName]
      ,[DivCode]
      ,[DivName]
      ,[GroupCode]
      ,[GroupName]
      ,[GradeCode]
      ,[GradeName]
      ,[JobTitle]
      ,[PhoneNo]
      ,[OfficeBuilding]
      ,[OfficeFloor]
      ,[SecName]
      ,[OfficePIN]
      ,[LoginID]
      ,[LoginContext]
      ,[PowerStaffCode]
      ,[PowerGroupCode]
      ,[PowerGradeCode]
      ,[TermFlag]
      ,[TermDate]
      ,[Email]
      ,[GUID]
      ,[LDAP_DistName]
      ,[PwCEntityID]
      ,[localExpatFlag]
      ,[ExpatFlag]
      ,[INetEmail]
      ,[NotesID]
      ,[BU]
      ,[BUDesc]
      ,[SubService]
      ,[SubServiceDesc]
      ,[JoinDate]
      ,[IsProfessional]
      ,[JobCode]
      ,[NativeName]
      ,[FullName]
      ,[NameInEng]
      ,[GivenName]
      ,[PreferredName]
      ,[TerritoryEffectiveDate]
      ,[OfficeCityName]
      ,[HRID]
      ,[CountryOffice]
      ,[OUCode]
      ,[Status]
      ,[ContractYearEnd]
      ,[IDTerritory]
      ,[PowerIDStatus]
      ,[LoS]
      ,[Department]
      ,[SalaryCategory]
      ,[JobGrade]
      ,[EmployeeCategory]
      ,[Role]
      ,[Sex]
      ,[SchoolUniversity]
      ,[Majority]
      ,[MajorityCategory]
      ,[City]
      ,[ChineseName]
      ,[LoSDesc]
	  ,1 as [Count],
	  1 as [Type]
  FROM [PwCC4Base].[dbo].[vwStaffMaster]
UNION all
SELECT LTRIM(RTRIM([GroupName])) as [StaffID]
      ,null as [CountryCode]
      ,null as [StaffInitial]
      ,LTRIM(RTRIM([GroupName])) as  [StaffName]
      ,null as [FirstName]
      ,null as [LastName]
      ,null as [DivCode]
      ,'Group' as [DivName]
      ,null as [GroupCode]
      ,null as [GroupName]
      ,null as [GradeCode]
      ,null as [GradeName]
      ,null as [JobTitle]
      ,null as [PhoneNo]
      ,null as [OfficeBuilding]
      ,null as [OfficeFloor]
      ,null as [SecName]
      ,null as [OfficePIN]
      ,null as [LoginID]
      ,null as [LoginContext]
      ,null as [PowerStaffCode]
      ,null as [PowerGroupCode]
      ,null as [PowerGradeCode]
      ,'N' as [TermFlag]
      ,null as [TermDate]
      ,LTRIM(RTRIM([GroupName])) as [Email]
      ,null as [GUID]
      ,null as [LDAP_DistName]
      ,null as [PwCEntityID]
      ,null as [localExpatFlag]
      ,null as [ExpatFlag]
      ,null as [INetEmail]
      ,null as [NotesID]
      ,null as [BU]
      ,null as [BUDesc]
      ,null as [SubService]
      ,null as [SubServiceDesc]
      ,null as [JoinDate]
      ,null as [IsProfessional]
      ,null as [JobCode]
      ,null as [NativeName]
      ,null as [FullName]
      ,null as [NameInEng]
      ,null as [GivenName]
      ,null as [PreferredName]
      ,null as [TerritoryEffectiveDate]
      ,null as [OfficeCityName]
      ,null as [HRID]
      ,null as [CountryOffice]
      ,null as [OUCode]
      ,null as [Status]
      ,null as [ContractYearEnd]
      ,null as [IDTerritory]
      ,null as [PowerIDStatus]
      ,null as [LoS]
      ,null as [Department]
      ,null as [SalaryCategory]
      ,null as [JobGrade]
      ,null as [EmployeeCategory]
      ,null as [Role]
      ,null as [Sex]
      ,null as [SchoolUniversity]
      ,null as [Majority]
      ,null as [MajorityCategory]
      ,null as [City]
      ,null as [ChineseName]
      ,null as [LoSDesc]
	  ,count(0) as [Count]
	  ,2 as [Type]
  FROM [StaffBank].[dbo].[StaffDomainGroup]
  group by [GroupName]) as temp
  